/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700&display=swap");

/* Reset margin and padding for paragraphs */
p {
  margin: 0;
  padding: 0;
}

/* Result Container */
.result-container {
  display: flex;
  border-radius: 32px;
  background-color: white;
}

/* Overall Result Section */
.overall-result {
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
  border-radius: 32px;
}

.overall-result-wrapper {
  padding: 38px 70px 46px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 260px;
}

.points-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  margin-top: 35px;
}

/* Typography Styles */
.result-title,
.points-max,
.result-description,
.summary-heading,
.skill-name,
.skill > p {
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.result-title,
.points-max,
.summary-heading {
  font-weight: 700;
}

.result-title {
  font-size: 24px;
  color: #cac9ff;
}

.points-value {
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 72px;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.points-max {
  font-size: 18px;
  line-height: 18px;
  color: #cac9ff;
  mix-blend-mode: normal;
  opacity: 0.52;
}

.result-rating {
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  margin-top: 28px;
}

.result-description {
  font-size: 18px;
  color: #cac9ff;
  text-align: center;
  margin-top: 14px;
}

/* Summary Result Section */
.summary-result {
  border-radius: 32px;
}

.summary-wrapper {
  padding: 38px 40px 46px 40px;
  width: 288px;
  display: flex;
  flex-direction: column;
}

.summary-heading {
  font-size: 24px;
  line-height: 31px;
  color: #303b59;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-top: 28px;
}

.skill {
  padding: 16px;
  display: flex;
  border-radius: 12px;
  justify-content: space-between;
}

.skill div {
  display: flex;
}

/* Skill Color Variants */
.red-skill,
.yellow-skill,
.green-skill,
.blue-skill {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
  );
}

.red-skill {
  background-color: #ff5555;
  color: #ff5555;
}

.yellow-skill {
  background-color: #ffb21e;
  color: #ffb21e;
}

.green-skill {
  background-color: #00bb8f;
  color: #00bb8f;
}

.blue-skill {
  background-color: #1125d6;
  color: #1125d6;
}

.skill-name {
  font-size: 18px;
  line-height: 23px;
}

.skill > p {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: hsla(224, 30%, 27%, 0.5);
}

.score {
  color: #303b59;
}

.skill > div {
  gap: 12px;
}

/* Continue Button Styles */
.continue-btn {
  background: #303b59;
  border-radius: 128px;
  color: #ffffff;
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  padding: 16px;
  border: none;
  margin-top: 41px;
  cursor: pointer;
}

.continue-btn:hover {
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 780px) {
  .result-container {
    flex-direction: column;
    border-radius: 0px;
  }

  .overall-result {
    border-radius: 0px 0px 32px 32px;
    display: flex;
    justify-content: center;
  }

  .overall-result-wrapper {
    padding: 24px 57px 40px 57px;
  }

  .summary-result {
    display: flex;
    justify-content: center;
    border-radius: none;
  }

  .summary-wrapper {
    width: 100%;
    padding: 24px 30px 30px 30px;
  }

  .points-container {
    height: 140px;
    width: 140px;
  }

  .result-title,
  .points-max,
  .summary-heading {
    font-size: 18px;
  }

  .points-value {
    font-size: 56px;
  }

  .result-rating {
    font-size: 24px;
  }

  .result-description,
  .skill-name,
  .skill > p {
    font-size: 16px;
  }

  .result-description {
    margin-top: 8px;
  }

  .result-rating,
  .points-container {
    margin-top: 24px;
  }

  .continue-btn {
    margin-top: 24px;
  }

  .skills-container {
    margin-top: 24px;
  }
}
