:root {
  background: #ffffff
}

* {    
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
}

@media screen and (min-width: 780px) {
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :root {
    background: #ecf2ff;
  }
}
